<template>
  <footer>
    &copy Bharath Ravi 2018
  </footer>
</template>

<script>
export default {
  data () {
    return {

    }
  }
}
</script>

<style>
  footer {
    text-align: center;
    background: #38aa1299;
    padding: 5px;
  }
</style>
