<template>
 <header>
    <ul class="nav">
      <router-link to="/"><a class="nav-link radio"><img class="radio" src="../assets/logo.png" alt=""> </a></router-link>
      <router-link to="/add"><a class="nav-link"><img src="../assets/add.png" alt=""> Add New Station</a></router-link>

      </ul>
  </header>
</template>

<script>
export default {
  data () {
    return {
      name: "Radio Live"
    }
  }
}
</script>

<style scoped>
  header {
    text-align: center;
    background: #009688;
    padding: 10px
  }
  .nav-item {
    background: #046d62;
    color: #fff;
    margin: 2px 20px;
    border-radius: 3px;
  }
  .nav-link {
    color: #fff !important;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  a {
    text-decoration: none;
  }
  .radio {
    border: none !important;
    padding: 0rem 0rem !important;;
  }
  .radio img {
    width: 45px;
    margin: 0px 25px;
  }
</style>
