<template>
  <div>
    <div class="container-fluid mt-1">
      <div class="row">
          <div class="col-md-2">
            <div class="country">
              <p>Country</p>
            </div>
            <ul class="country-ul">
                <li v-bind:class="{active: isActive}" v-on:click="getStation($event)" v-for="country in countries" :key="country">{{country}}</li>
                  <!-- <img align="right" class="" src="./assets/arrow-right.png" alt=""> -->
            </ul>
          </div>
          <!-- <div class="col-md-2">
            <div v-show='isCity' class="city">
              <p>City</p>
            </div>
              <ul class="city-ul">
                <li v-on:click='getStation($event)' v-for="city in cities">{{city}}</li>
              </ul>
          </div> -->
          <div class="col-md-2">
            <div v-show="isStation" class="station">
              <p>Station</p>
            </div>
              <ul class="station-ul">
                <li v-on:click="getDetail($event)" v-show="isStation" v-for="station in stations">{{station}}</li>
              </ul>
          </div>
          <div class="col-md-6 mt-3 ">
              <div v-show="isDetail" class="details" >
                <h2>Details of {{details.title}}</h2>
                  <table class="stn-tbl" style="width:100%">
                    <tr>
                      <th>Name <span class="pull-right">:</span></th>
                      <td v-model="details.feature">{{details.title}}</td>
                    </tr>
                    <tr>
                      <th>Feature:</th>
                      <td>{{details.feature}}</td>
                    </tr>
                    <tr>
                      <th>Genre</th>
                      <td>{{details.genre}}</td>
                    </tr>
                    <tr>
                      <th>Meta title</th>
                      <td>{{details.metaTitle}}</td>
                    </tr>
                    <tr>
                      <th>Meta Discription</th>
                      <td>--No preview Available--</td>
                    </tr>
                    <tr>
                      <th>Title</th>
                      <td>{{details.title}}</td>
                    </tr>
                    <tr>
                      <th>URL</th>
                      <td>{{details.url}}</td>
                    </tr>
                    <tr>
                      <th>Views</th>
                      <td>{{details.views}}</td>
                    </tr>
                    <tr>
                      <th>Freequency Band</th>
                      <td>{{details.freq}}</td>
                    </tr>
                  </table>
              </div>
              <div v-show="isDetail" class="actions-wrap mt-4">
                <h2>Actions</h2>
                <!-- <img src="../assets/edit.png" alt="">
                <img src="../assets/trash.png" alt=""> -->
                <router-link to="/edit"><img src="../assets/edit.png" alt=""></router-link>
                <img @click="drop" class="ml-5" src="../assets/trash.png" alt="">
                <div>
                </div>
              </div>
          </div>
      </div>
      <div class="drop" v-show="isDroped">
          <a class="btn btn-danger m-3">Deleted</a>
      </div>
    </div>
  </div>
</template>

  <script>
  import Header from './header.vue'
  export default {
    components:{
      'app-header': Header
    },
    data () {
      return {
        id: undefined,
        activeCountry: undefined,activeCity: undefined,activeStation: undefined,countries : [],cities: [],stations: [],details:
        {feature: "",genre: "", metaDisc: "",metaTitle: "",title: "",url: "",views: ""
        },
        isCity: false,isStation: false,isDetail: false, isActive: false, isDroped: false
      }
    },
    methods: {
      getCity: function(evt) {
        this.isActive = true;
        this.isStation = false;
        var cityRequest = evt.target.innerHTML;
        console.log(evt);
        this.activeCountry = evt.target.innerHTML;
        this.cities = [];

        let varCity = JSON.parse(localStorage.apiBody)[cityRequest];
        for (var i in varCity) {
            if (varCity.hasOwnProperty(i)) {
              this.cities.push(i);
            }
          }
          this.isCity = true;
          this.eve
      },
      getStation: function(evt) {
        this.stations = [];
        this.activeCountry = evt.target.innerHTML;
        // var activeCity = this.activeCity;
        // let activeCountry = this.activeCountry;
        //   this.$http.get(`https://listen-fn.firebaseio.com/listen-fn/${this.activeCountry}/${evt.target.innerHTML}/radios.json`).then((data)=>{
        let apiBody = JSON.parse(localStorage.apiBody);
        let stationBody = apiBody[evt.target.innerHTML];

        for (var i in stationBody) {
          if (stationBody.hasOwnProperty(i)) {
            this.stations.push(stationBody[i].title);
          }
        }
        // console.log(this.stations);
        this.isStation = true;
      },
      getDetail: function(evt) {
        this.isDetail = true;
        this.activeStation = evt.target.innerHTML;
        // let activeStation = this.activeStation;
        let activeCountry = this.activeCountry;
        let activeCity = this.activeCity;
        let activeStation = this.activeStation;

        let apiBody = JSON.parse(localStorage.apiBody);
        console.log(apiBody);
        let list = apiBody[activeCountry][activeStation];
          console.log(apiBody[activeCountry][activeStation]);
            localStorage.setItem('stationId', list.title)
            this.details.feature = list.feature;
            this.details.genre = list.genre;
            this.details.metaDisc = list.metaDisc;
            this.details.metaTitle = list.metaTitle;
            this.details.url = list.url;
            this.details.title = list.title;
            this.details.views = list.views;
            this.details.freq = list.freq;
            this.details.image = list.image;

        localStorage.setItem('thisData', JSON.stringify(this.details))
        localStorage.setItem('thisCity', this.activeCity);
        localStorage.setItem('thisCountry', this.activeCountry);
      },
      drop: function() {
        var stationId = localStorage.stationId;

        // delete alert
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this Station!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
              //delete request FB
              this.$http.delete(`https://listen-fn.firebaseio.com/listen-fn/${this.activeCountry}/${this.activeCity}/radios/${stationId}.json`).then((data)=> {
              //alert
              swal("Poof! Station has been deleted!", {
              icon: "success",
              });
              setTimeout(function() {
                window.location.reload();
              }, 1000);
            });

            } else {
              swal("Station is safe!");
            }
          });

      }
    },
    created() {
      this.$http.get('https://listen-fn.firebaseio.com/listen-fn.json').then((data)=>{
        localStorage.setItem('apiBody',data.bodyText);
        var dataVal = JSON.parse(localStorage.apiBody);
        for (var i in dataVal) {
          if (dataVal.hasOwnProperty(i)) {
            this.countries.push(i)
          }
        }
      });
    }
  }
  </script>

  <style scoped>
  .country {
    background: #80CBC4;
    text-align: center;
    padding: 10px;
  }
  .country p, .city p, .station p {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
  }
  .country-ul, .city-ul, .station-ul {
    list-style: none;
    text-align: center;
    padding: 0px;
  }
  .country-ul li, .city-ul li, .station-ul li {
    border: 1px solid #aaa;
    border-top: 0px;
    padding: 5px;
    cursor: pointer;
  }
  .city {
    background: #26A69A;
    text-align: center;
    padding: 10px;
  }
  .station {
    background: #00796B;
    text-align: center;
    padding: 10px;
  }
  .details {
    padding: 20px;
    border: 1.5px solid #B2DFDB;
    border-radius: 5px;
  }
  .stn-tbl{
  }
  .stn-tbl th {
    border-right: 3px solid #B2DFDB;
    padding: 5px;
  }
  .stn-tbl tr {
    padding: 5px;
  }
  .stn-tbl td {
    padding-left: 15px;
  }
  .h3 {
    font-family: 'Oswald', sans-serif !important;
  }
  .actions-wrap {
    padding: 20px;
    border: 1.5px solid #B2DFDB;
    border-radius: 5px;
  }
  .active {
    background: #64FFDA;
  }
  .drop {
    /* position: absolute; */
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 10px;
    padding: 30px;
    width: 180px;
    margin-top: 10%;
  }
  img {
    cursor: pointer;
  }
  .country, .city, .station, .details, .country-ul .city-ul, .station-ul {
  animation: fade .5s;
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5
    }
    100% {
      opacity: 1
    }
  }
  </style>
