<template>
  <div>
    <div id="pph-hireme">
      <ul>
        <li v-for="i in catagory">{{i.product_category}}</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
     catagory: []
    }
  },
  methods: {

  },
  created() {
    this.$http.get('https://quiet-sierra-60422.herokuapp.com/api/category').then((cat)=> {
      this.catagory = cat.body;
    });
  }

}

</script>

<style>
ul {
  background-color: #29B6F6;
  width: 200px;
  text-align: center;
  padding: 3px;
}
 li {
   background: linear-gradient(#29B6F6, #EF9A9A);
   margin: 2px;
   padding: 10px;
   list-style: none;
 }
</style>
