<template>
  <div>
      <app-header></app-header>
      <router-view></router-view>
  </div>
</template>

<script>
import Header from './components/header.vue'
import Add from './components/add.vue'
import Main from './components/main.vue'
import Edit from './components/edit'
export default {
  components:{
    'app-header': Header,
    'app-add': Add,
    'app-main': Main,
    'app-edit': Edit
  },
  data () {
    return {

    }
  },
  methods: {

  },
  created() {
  //  localStorage.clear();
   console.log(localStorage)
  }
}
</script>

<style scoped>

</style>
